.menu-navigation {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}

img {
    height: 80px;
}

.menu-navigation li{
    margin-top: 3%;
    margin-left: 80px;
}

nav{
    text-align: right;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

.ul-sans-style {
    list-style-type: none;
    color: aqua;
    padding: 0;
    margin: 0;
    display: flex;
    text-decoration: none;
}

.ul-sans-style a{
    text-decoration: none;
    color: white;
}

.ul-sans-style a:hover{
    transition-duration: 200ms;
    color: red;
}

footer {
    margin: 20px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

body a:hover {
    transition-duration: 200ms;
    color: red;
}