
body {
    text-align: center;
    margin: auto;
    max-width: 600px;
    color: white;
    font-family: Concert One, sans-serif;
    font-weight: 400;
    background-image: url("https://diapogram.com/upload/2018/04/10/20180410133409-7ff8c878.jpg");
}

.menu-navigation {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}

header img {
    height: 80px;
}

main img {
    height: 200px;
    width: 600px;
    object-fit: cover;
}

h2 {
    margin-bottom: 1px;
}

ul {
    margin-top:0;
}

nav li {
    padding-top: 5%;
}

.menu-navigation li{
    margin-top: 3%;
    margin-left: 80px;
}

nav {
    text-align: right;
    padding: 0;
}

nav ul {
    list-style-type: none;
    color: aqua;
    padding: 0;
    margin: 0;
    display: flex;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

p {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 3px;
}

a:hover{
    transition-duration: 200ms;
    color: red;
}

footer {
    margin: 20px;
    text-align: center;
}
